.app {
  display: flex;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

canvas {
  position: absolute;
}

.navbar {
  height: 8vh;
  background-color: #5d8cd3;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 0 0px 0 0;
  font-size: 4vh;
}

.navbar span {
  margin-left: 30px;
}

.newPostCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addImg {
  width: 25px;
  cursor: pointer;
}

.postForm {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px); /* Subtract the height of the navbar */
  margin-top: 0px; /* Add a margin equal to the height of the navbar */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.postInput {
  height: 30px;
  border: none;
  margin-bottom: 10px;
}

.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.rightInput {
  padding: 20px;
  margin-bottom: 20px;
}

.rightButton {
  padding: 10px 20px;
  font-weight: bold;
}

.friendInput {
  position: absolute;
  padding: 10px;
  font-weight: bold;
  border: none;
}

.friends {
  font-size: 20px;
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
}
