.topBar {
  height: 100%;
  margin-top: 5px;
}

.bottomButton {
  width: 25vw;
  height: 8vh;
  margin-bottom: 1vh;
  background: transparent;
  border: none;
}

.preview {
  display: flex;
  justify-content: center; /* align items horizontally */
  align-items: center; /* align items vertically */
  border: 0px solid black;
  padding-bottom: 0px;
}

.faceImagesWrapper {
  width: 90vw;
  overflow-y: auto;
  padding-bottom: 0px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0%;
}

.bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 10vh;
  border-top: 1px solid #ccc;
}
